* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vh;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    width: 25vh;
    height: 25vh;
    flex-shrink: 0;
    border: 2px solid black;
}

.container div:hover {
    background-color: pink;
}