* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

button {
    padding: 10px;
    font-weight: bold;
}

div {
    text-align: center;
}

.main {
    background-color: cornflowerblue;
    display: flex;
    padding: 10px 10px 10px 120px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.grid .row {
    display: flex;
}

.grid .row div {
    border: 1px solid black;
}